<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:jdbc.properties"/>

    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
          destroy-method="close">
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <bean class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <property name="mapperLocations" value="classpath:mapper/**Mapper.xml"/>
        <!--
        mapperLocations: 用于配置Mapper.xml文件的地址，同时也可以使用ant模式来匹配Mapper.xml文件
        -->
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!---
        MapperScanner支持多种方式扫描Mapper的接口类
        1. 使用包BasePackage指定包路径扫描Mapper接口，包扫描是必须的配置项
        2. 配合包扫描加注解的方式来扫描Mapper接口类可以更清晰的定义扫描规则
        -->
        <property name="annotationClass" value="org.apache.ibatis.annotations.Mapper"/>
        <property name="basePackage" value="org.ken.study"/>
    </bean>

    <!-- 配置spring事务-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="transactionTemplate" class="org.springframework.transaction.support.TransactionTemplate">
        <property name="transactionManager" ref="transactionManager"/>
    </bean>

</beans>